{% extends 'base.html' %}
{% load bootstrap %}

{% block main %}
    <h3>Departamentos</h3>
<br>
    {% for departamento in object_list %}
        <a class="btn btn-outline-success btn-sm" href="{% url 'update_departamentos' departamento.id %}">
            {{ departamento }}
        </a>
        <a class="btn btn-danger btn-sm" href="{% url 'delete_departamentos' departamento.id %}">
            Deletar
        </a><br>
        <br>
    {% endfor %}
    <a href="{% url 'create_departamentos' %}" class="btn btn-info"> Novo </a>
{% endblock %}