{% extends 'base.html' %}

{% block main %}
    <h3>Banco de Horas</h3>
<br>
    {% for registro_re in object_list %}
        <a class="btn btn-outline-success btn-sm" href="{% url 'update_hora_extra' registro_re.id %}">
            {{ registro_re }}
        </a>
        <a class="btn btn-danger btn-sm" href="{% url 'delete_hora_extra' registro_re.id %}">
            Deletar
        </a><br>
        <br>
    {% endfor %}
    {% if not object_list %}
        <h3>Não possui registro de hora extra</h3>
    {% endif %}
    <a href="{% url 'create_hora_extra' %}" class="btn btn-info"> Novo </a>
{% endblock %}