{% extends 'base.html' %}

{% block main %}
    <h3>Funcionários</h3>
<br>
    {% for funcionario in object_list %}
        <a class="btn btn-outline-success btn-sm" href="{% url 'update_funcionario' funcionario.id %}">
            {{ funcionario }}
        </a>
        <a class="btn btn-danger btn-sm" href="{% url 'delete_funcionario' funcionario.id %}">
            Deletar
        </a><br>
        <br>
    {% endfor %}
    <a href="{% url 'create_funcionario' %}" class="btn btn-info"> Novo </a>
{% endblock %}